<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Task13</display-name>
  <servlet>
    <servlet-name>AddAdminController</servlet-name>
    <servlet-class>controller.AddNewAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminController</servlet-name>
    <url-pattern>/add-admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowIndexAdminController</servlet-name>
    <servlet-class>controller.ShowIndexAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexAdminController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAdminController</servlet-name>
    <servlet-class>controller.LoginAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowLoginAdminController</servlet-name>
    <jsp-file>/admin/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginAdminController</servlet-name>
    <url-pattern>/admin/show-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewsAdminController</servlet-name>
    <servlet-class>controller.AddNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsAdminController</servlet-name>
    <url-pattern>/admin/add-news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNewsAdminController</servlet-name>
    <servlet-class>controller.DeleteNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsAdminController</servlet-name>
    <url-pattern>/admin/delete-newsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCatAdminController</servlet-name>
    <servlet-class>controller.DeleteCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCatAdminController</servlet-name>
    <url-pattern>/admin/delete-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCatAdminController</servlet-name>
    <servlet-class>controller.AddCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCatAdminController</servlet-name>
    <url-pattern>/admin/add-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCatAdminController</servlet-name>
    <servlet-class>controller.EditCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCatAdminController</servlet-name>
    <url-pattern>/admin/edit-cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNewsAdminController</servlet-name>
    <servlet-class>controller.EditNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsAdminController</servlet-name>
    <url-pattern>/admin/edit-news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>controller.FileUploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>/file-upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowFileManager</servlet-name>
    <jsp-file>/admin/show-file-manager.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFileManager</servlet-name>
    <url-pattern>/admin/show-file-manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPaperSubmitsion</servlet-name>
    <jsp-file>/conferences/paper-submission.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPaperSubmitsion</servlet-name>
    <url-pattern>/show-paper-submission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowIndexController</servlet-name>
    <servlet-class>controller.IndexPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowIndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowIndex</servlet-name>
    <jsp-file>/show-index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndex</servlet-name>
    <url-pattern>/show-index</url-pattern>
  </servlet-mapping>
</web-app>