<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>LoginAPI</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAPI</servlet-name>
    <servlet-class>servlet.Teacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAPI</servlet-name>
    <servlet-class>servlet.Admin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImageAPI</servlet-name>
    <servlet-class>servlet.UploadImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <jsp-file>/pages/login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>TeacherPage</servlet-name>
    <jsp-file>/pages/teacher.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>AdminPage</servlet-name>
    <jsp-file>/pages/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherPage</servlet-name>
    <url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPage</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAPI</servlet-name>
    <url-pattern>/login/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAPI</servlet-name>
    <url-pattern>/teacher/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAPI</servlet-name>
    <url-pattern>/admin/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImageAPI</servlet-name>
    <url-pattern>/uploadImage</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>