<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bnews</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexPublicController</servlet-name>
    <servlet-class>controller.IndexPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPublicController</servlet-name>
    <url-pattern>/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexAdminController</servlet-name>
    <servlet-class>controller.IndexAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdminController</servlet-name>
    <url-pattern>/admin/trang-chu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexCatAdminController</servlet-name>
    <servlet-class>controller.IndexCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexCatAdminController</servlet-name>
    <url-pattern>/admin/indexCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCatAdminController</servlet-name>
    <servlet-class>controller.AddCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCatAdminController</servlet-name>
    <url-pattern>/admin/addCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddCatAdminController</servlet-name>
    <servlet-class>controller.ShowAddCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddCatAdminController</servlet-name>
    <url-pattern>/admin/show-addCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditAdminCatController</servlet-name>
    <servlet-class>controller.ShowEditAdminCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditAdminCatController</servlet-name>
    <url-pattern>/admin/show-editCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCatAdminController</servlet-name>
    <servlet-class>controller.EditCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCatAdminController</servlet-name>
    <url-pattern>/admin/editCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexUsersAdminController</servlet-name>
    <servlet-class>controller.IndexUsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexUsersAdminController</servlet-name>
    <url-pattern>/admin/indexUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCatAdminController</servlet-name>
    <servlet-class>controller.DeleteCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCatAdminController</servlet-name>
    <url-pattern>/admin/delCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddUserAdminController</servlet-name>
    <servlet-class>controller.ShowAddUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddUserAdminController</servlet-name>
    <url-pattern>/admin/show-addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserAdminController</servlet-name>
    <servlet-class>controller.AddUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserAdminController</servlet-name>
    <url-pattern>/admin/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserAdminController</servlet-name>
    <servlet-class>controller.DeleteUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserAdminController</servlet-name>
    <url-pattern>/admin/delUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditUserAdminController</servlet-name>
    <servlet-class>controller.ShowEditUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditUserAdminController</servlet-name>
    <url-pattern>/admin/show-editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserAdminController</servlet-name>
    <servlet-class>controller.EditUserAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserAdminController</servlet-name>
    <url-pattern>/admin/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexNewsAdminController</servlet-name>
    <servlet-class>controller.IndexNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexNewsAdminController</servlet-name>
    <url-pattern>/admin/indexNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddNewsAdminController</servlet-name>
    <servlet-class>controller.ShowAddNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddNewsAdminController</servlet-name>
    <url-pattern>/admin/show-addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewsAdminController</servlet-name>
    <servlet-class>controller.AddNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsAdminController</servlet-name>
    <url-pattern>/admin/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditNewsAdminController</servlet-name>
    <servlet-class>controller.ShowEditNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditNewsAdminController</servlet-name>
    <url-pattern>/admin/show-editNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNewsAdminController</servlet-name>
    <servlet-class>controller.EditNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsAdminController</servlet-name>
    <url-pattern>/admin/editNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNewsAdminController</servlet-name>
    <servlet-class>controller.DeleteNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsAdminController</servlet-name>
    <url-pattern>/admin/delNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowLoginAdminController</servlet-name>
    <servlet-class>controller.ShowLoginAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginAdminController</servlet-name>
    <url-pattern>/admin/show-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAdminController</servlet-name>
    <servlet-class>controller.LoginAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutAdminController</servlet-name>
    <servlet-class>controller.LogoutAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdminController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
</web-app>