===============================================
GLOBAL CSS
===============================================*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*{margin:0; padding: 0;}
* {margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,ul,li,p {margin: 0; padding: 0;}
li {list-style: none; float: left;}
a{text-decoration: none}
.row {
	margin: 0px;
	padding: 0px;
}


/*===============================================
GENERAL CSS
=================================================*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

.container-max {
	background: #000;
	box-shadow: 0px 0px 30px 0px #000000;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 1030px;
	height: 100%;
}

.header-title {
	border: none;
	border-radius: 0px;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, #2360B9, #6C95D3);
	text-align: center;
	color: #fff;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header-title h4 {
	margin: 0px;
	font-weight: bold;
	padding: 5px;
}
.header-title p {
	margin: 0px;
	text-align: center;
	margin: -3px;
	font-size: 12px;
}

.header-image {
	width: 100%;
	background: #fff;
}

.header-image img {
	width: 100%;
}

.row {
	margin: none;
	background-image: linear-gradient(90deg, #DEEAF6, #fff);
	height: 100%;
}
/*menu*/
#menu {
	padding-top: 5px;
	padding-left: 20px;
}
#menu ul li {
	font-size: 14px;
	font-weight: bold;
	color: white;
	cursor: default;
	text-align: left;
	width: 150px;
	display: block;
	margin: 4px;
	background-image: linear-gradient(0deg, #0448A5, #6795D3);
	padding: 5px;
}
#menu ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#menu ul li:hover {
	background-image: linear-gradient(#95BEEA, #3C6FB0,  #95BEEA);
} 

#menu ul li ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	color: #ffffff;
	font-size: 10px;
}

#menu ul li ul {
	position: absolute;
	z-index: 1;
	margin-left: 147px;
	margin-top: -26px;
	display: none;
}

#menu ul li ul li {
	background-image: linear-gradient(#95BEEA, #3C6FB0,  #95BEEA);
	margin: 0px;
}

#menu ul li ul li:hover {
	background-image: linear-gradient(#AAD3EF, #95BEEA,  #AAD3EF);
}

.main-menu-3:hover .main-menu-3-sub{
	display: block;
}

/*content - right*/
.content-right {
	margin-top: 10px;
	margin-left: -40px;
	font-size: 12px;
	text-align: left;
	min-height: 400px;
	/*height: 150px;*/
	/*background: #000;*/
}


.content-right h2 {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-left: 5px;
	color: #00008B;
	border-top-width: 2px;
	border-right-width: 5px;
	border-bottom-width: 2px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #476DB0;
	border-right-color: #476DB0;
	border-bottom-color: #476DB0;
	border-left-color: #476DB0;
}

.content-right .box {
	border: 2px solid #6B99CB;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	overflow: hidden;
}

.content-right .box_h1 {
	background-color: #6B99CB;
	color: #FFF;
	padding: 3px;
	font-weight: bold;
}

.content-right h5 {
	display: block;
	font-size: 0.83em;
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.content-right .box dl {
    margin: 0px;
    margin-left: 20px;
}

.content-right dl dt {
	display: block;
	float: left;
    width: 11em;
} 

.content-right dl dd {
	margin-bottom: 5px;
	display: block;
	margin-inline-start: 40px;
}






/*footer*/
#footer {
	border: none;
	border-radius: 0px;
	width: 100%;
	height: 70px;
	background-image: linear-gradient(0deg, #2360B9, #6C95D3);
	text-align: center;
	color: #fff;
	margin: 0px;
	padding-top: 15px; 
	font-size: 10px;
}

#footer a {
	text-decoration: none;
	color: #fff;
}

/*===============================================
STYLE CSS
=================================================